<div class="background">
    <div class="edit-input">
        <form ng-submit="c.updateDevProfile()" class="well">

            <h1>Edit Profile</h1>
            <hr />
            <label>First Name</label>
            <input ng-model="c.user.firstName" class="form-control profile-edit" />

            <label>LastName</label>
            <input ng-model="c.user.lastName" class="form-control profile-edit" />

            <label>Email</label>
            <input ng-model="c.user.email" class="form-control profile-edit" />

            <label>Phone Number</label>
            <input ng-model="c.user.phoneNumber" class="form-control profile-edit" />

            <label>Skill Set</label>
            <textarea ng-model="c.user.skillSet" class="form-control profile-edit"></textarea>

            <div class="modal-footer">
                <input type="submit" class="btn btn-primary" value="Save Changes" ng-click="$close()"/>
                <input type="button" class="btn" ng-click="$dismiss()" value="Cancel"/>
            </div>            
        </form>
    </div>  
</div>